.buy-now{ border-radius: 7px;
background-image: linear-gradient(#552412 5% ,#412f17 43%);}
.Orange-Bg{background-color:#FEEAE9;
border-radius: 7px;}
.carousel-item{ padding-left: 20px;
padding-top:10px;}
.price{ color: cadetblue;}
.buy-now-button{text-decoration: none;
color: coral; }
.container{margin-top: 20px;}


